@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Waterfall&display=swap');
/*Layouts*/

/*++++++++ HEADER+++++++++*/
.headerConatiner {
  background: var(--principal-color); 
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;

}
.headerConatiner a{
  text-decoration: none;
}
.headerTitle{
  font-family: var(--principal-font);
  color: var(--secondary-color);
  font-size: var(--principal-font-size);
  font-style: normal;
  font-weight: normal;
  line-height: 72px;  
}
.headerTitle span{  
  color: var(--succes-color);
}
.headerNav { 
  width: 100%; 
}
.headerNav ul li{ 
  color: #dad5d5;
  font-size: 2rem;
  font-family: var(--principal-font);
  list-style: none;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.466);
  padding: 0.7rem;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  font-weight: normal; 
}
.headerNav ul li:hover{
  background: #87888a8d;
  border-radius: 0.3rem;
}
.headerNav ul li a{
  color: #dad5d5;
  font-size: 2rem;
}
/*++++++++ FOOTER+++++++++*/
/*footer styles*/

.footercont{
  background:#181818;
  width: 100%;
  color: #726e6e;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.icon-rrss{
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;    
}
.footercont ul li{
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.footercont ul li a {
  text-decoration: none;
  color: #726e6e;
  font-size: 1.5rem;
  padding:1rem;
}
/*++++++++ BUTTON+++++++++*/
.generalButton{
  background: var(--succes-color);
  border-radius: 0.5rem;
  border: none;
  font-family: var(--principal-font);
  font-size:3rem;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color:var(--secondary-color);
  padding: 0.5rem;
  width: 100%;
}
.generalButton:hover{
  background:  #da5f5bf1;
}
.detailButton{
  composes: generalButton;
  background: var(--alert-color);
}
.detailButton:disabled{
  background: #ccc;
}
.auctionButton{
  composes: detailButton;
}
.auctionButton:disabled{
  background: #ccc;
}
.buttonContainer{
  width: 50%;
}
/*++++++++ LINE +++++++++*/
.DividingLineCont{
  background: rgba(121, 119, 112, 0.35);;
  height: 1px;
  margin-top: 1rem;
}

/*++++++++ RATING +++++++++*/
.rateContainer{
  display: flex;
  align-items: center;
  margin: 2rem 0 0 3.5rem;
}
.rateCont{
  background: var(--succes-color);
  display: flex;
  border-radius: 10px;
  padding: 0 1.2rem 0 1.2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.rateText{
  font-family: var(--principal-font);
  color: var(--secondary-color);
  font-size: 2.2rem;
  font-style: normal;
  font-weight: normal;
}
.starIcon{
  width: 1.3rem;
  height: 1.3rem;
  color: var(--secondary-color);
  margin-top: 0.5rem;
}
.rateCount{
  font-family: var(--secondary-font );
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 18px;
  color: rgba(62, 63, 58, 0.51);
  margin-left: 0.7rem;
}

/*Main*/
.landingCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  /* background-image: url('../assets/fondo-nav.jpg');  */
  width: 100%;
  /* background: rgb(8,7,7);
  background: linear-gradient(90deg, rgba(8,7,7,0.8295693277310925) 22%, rgba(3,3,3,0.8519782913165266) 46%, #0807071a 80%), url('../assets/fondo-nav.jpg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.landingTextIni{
  font-family: var(--principal-font );
  font-size: 4rem;
  color:rgba(0, 0, 0, 0.508);
}
.contWelcome{
  flex-direction: column;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 0 2rem;
}
.colorApp{
  color: var(--succes-color);
}
.greenIni{
  color: #21854D;
  font-size: 2rem;
}
.green{
  color: #21854D;
}
.red{
  color: #D03D46;
}
.yellow{
  color: #E6AF47;
}
.fondoMain{
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.container{
  composes:landingCont;
  padding:0 2rem 0 2rem;
}
.landingText{
  margin: 2rem 0 1rem 0;
  /* font-family: 'Waterfall', cursive; */
  /* font-family: 'Lobster', cursive; */
  font-family: 'Indie Flower', cursive;
  color: rgb(167 55 55 / 41%);
  font-size: 2.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
}
.pagoImg{
  width:70%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 3rem;
}
.buttonContLang{
  display: flex;
  width: 100%;
  margin: 1.7rem 6rem 3rem 6rem; 
  justify-content:center;
}
.buttonContLang a{
  width: 100%;
}
.iconLandingCont{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem 0 2rem;
}
.iconLandingContBtn{
  display: flex;
  flex-direction:column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem 0 2rem;
}
.iconLanding{
  width: 40%;
}
/*++++++++ Products +++++++++*/
.contWelcome{
  background: #fff;
  display: flex;
  padding:2rem;
  justify-content: center;
  align-items: center;
}
.contWelcome figure{
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.imgProd{
  width: 100%;
}
.titleProdWel{
  font-family: var(--principal-font);
  font-size:5rem;
  color: var(--succes-color);
}
.title{
  font-family: var(--principal-font);
  font-size: 4rem;
  color: var(--alert-color);
}
.titlePr{
  font-family: var(--principal-font);
  color: var(--succes-color);
  font-size:2.5rem;
}
.productsContCard{
  background: #FFFFFF;
  margin: 0;
  padding: 1rem 0 1rem 0;
  align-items: stretch;
  margin-bottom: 2rem;
}

.productsCont{
  display: flex;
  flex-direction: column;
  flex: 1;
  background:#efefef9c;
  flex-wrap: 2rem;
}
.headerCont{
  display: flex;
  margin: 2rem 0 2rem 2rem;
}
.timeCont{
  display: flex;  
}
.timeIcon{
  color: var(--alert-color);
  width: 3rem;
  height: 3rem;
  margin: 2.5px 1rem 0 0;  
}
.sadIcon{
  color: var(--alert-color);
  width: 2.5rem;
  height: 2rem;
  margin: 0.7rem 1rem 0 0; 
}
.timeText{
  font-family: var(--principal-font);
  color: var(--alert-color);
  font-size: 4rem;
  line-height: 37px;
  font-style: normal;
  font-weight: normal;
  margin: 0 0.5rem 0 0;  
}
.timeTextFinsh{
  font-family: var(--principal-font);
  color: var(--alert-color);
  font-size: 2rem;
  line-height: 37px;
  font-style: normal;
  font-weight: normal;
  margin: 0 0.5rem 0 0;  
}
.timeTextColor{
  color: #ccc;
}
.points{
  composes :timeText;
}
.text{
  line-height: 5px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  color: rgba(62, 63, 58, 0.51);
  text-align: center;
}
.cardProduct{
  margin: 0 2rem 0 2rem;
}
.productImageCont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.productImage{  
  max-width: 60%;
  height: 20rem;
}
.productTitl{
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 21px;
  color: #3E3F3A;
  margin: 1rem 0 0 3.5rem;
  
}
.productPrice{
  margin: 0 0 0 3.5rem;
  font-family: var(--principal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 43px;
  color: #000000;
}
.productPrice span{
  margin-right: 0.5rem;
}
.buttonCont{
  margin: 1.7rem 5.2rem 1rem 5.2rem;
}
.cardTemplateCont{
  width: 100%;
  margin: 2rem 0 2rem 0;
  gap: 2rem;  
}    

/*++++++++ PRODUCT DETAIL ++++++++*/
.productDetailCont{
  display: flex;
  flex-direction: column;
  flex:1;
  background: #fff;
}
.headerProdDet{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.btnProdDet{
  font-family: var(--principal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 43px;
  color: #797770;
  margin: 0.4rem 0 0 0.5rem;
  border: none;
  background: #fff;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
  
}
.btnProdDet:hover{
  background: #d0d0cb;
}
.closeIcon{
  width: 3rem;
  height: 3rem;
  color: #797770;
}
.bodyProductDetailCont{
  display: flex;
  flex-direction: column; 
}
.titlePrdDet{
  font-family: var(--principal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 36px;
  color: #3E3F3A;
  margin: 0 0 0 5rem;
  padding: 1rem 1rem 0 1rem;
}
.descPrdDet{
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 20px;
  color: rgba(62, 63, 58, 0.81);
  margin: 0 0 0 5rem;
  padding: 0 1rem 1rem 1rem;
}
.buttonContProd{
  margin: 1.7rem 5.2rem 1rem 5.2rem;  
}
/*++++++++ about +++++++++*/
.aboutCont{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2.5rem 3.5rem 0 3.5rem;
  justify-content: center;
  align-items: center;
}

.titleAbout{
  font-family: Teko;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 143px;
  text-align: center;
  /* background: -webkit- */
  /* background: linear-gradient(180deg, #A54584 0%, #EA8841 65.62%, #BC5467 94.79%, #D9534F 100%); */
  background: linear-gradient(360deg, #7e504f 0%, #da5f5b 65.62%, #BC5467 94.79%, #5e5656 100%);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 5rem;
}
.fotoAboutCont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:  2rem 0 2rem 0;
}
.fotoAbout{
  width: 70%;
  filter: drop-shadow(1px 2px 3px #000);
}
.liAbout li a{
  text-decoration: none;
  font-size: 1.3rem;
  color: rgba(198, 151, 151, 1);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
}
.liAbout li a svg {
  color: var(--alert-color);
  margin-right: 0.5rem;
}
.textAbout{
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  color: rgb(155 111 111);
}
.phraseAbout{
  font-family: Teko;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #797770;
}
.textQuestion{
  font-family: Teko;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
  background: linear-gradient(360deg, #7e504f 0%, #da5f5b 65.62%, #BC5467 94.79%, #5e5656 100%);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 4rem;
}
.treeIcon{
  display:none;
}
.nieveIcon{
  width: 50%;
  filter: invert(4%);
}
.finalMessCont{
  display: flex;
  flex-direction:row;
  align-items: center;
}
.thankText{
  font-family: Teko;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 86px;
  color: #2C2C2C;
}
.ulTextQuestion{
  margin: 0 0 0 5rem;
}
.nameText{
  font-family: Teko;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(360deg, #7e504f 0%, #da5f5b 65.62%, #BC5467 94.79%, #5e5656 100%);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 4rem;
}
/**not found*/
.notFoundCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
  padding: 2rem;
  flex:1;
}
.notFoundImg{
  width: 100%;
}
.notFoundNum{
  font-family: Teko;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 158px;
  color: rgba(121, 119, 112, 0.46);
}
.notFoundText{
  font-family: Teko;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 86px;
  color: #797770;
}
.notTitle{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
/*++++++++ MEDIA QUERY ++++++++*/
@media screen and (min-width: 762px) {
  /*header styles */
  .headerConatiner{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
  }
  .headerNav {
    width: 50%;
    
  }
  .ulContainer{
    display: flex;
    justify-content: flex-end;    
  }
  .headerNav ul li{
    border: none;
   font-size: 2.7rem;
  }
  .headerNav ul li a{
    font-size: 3rem;
  }
  /*main styles*/

  .main{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .landingTextIni{  
    font-size: 4rem;
    line-height: 4rem;
    margin: 0 0 0 0;
  }  
  .iconLandingContBtn{
    flex-direction: row;
  }
  .greenIni{
    font-size: 4rem;
  }
  .fondoMain{
    width: 45%;
    margin: 0 0 0 0;
  }
  .landingText{
    font-size: 3rem;
  }
  .iconLanding{
    max-width: 20%;
  }
  .contWelcome{
    flex-direction:row;
  }
  .buttonLandW button{
    width: 50%;
  }
  .pagoImg{
    width: 35%;
  }
  /*footer styles */
   .footercont ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footercont ul li {
  }
  /*products cards styles */
  .headerCont{
    min-height: 42px;
  }
  .cardTemplateCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .productsContCard{
    width: 45%;
    border-radius:0.5rem;
  }
  .productTitlCont{   
  }
  .productTitl{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .buttonContLang{
    width:50%;
  } 
  .titlePrdDet{
    margin-left: 0;
  }
  .descPrdDet{
    margin-left: 0;
  }
  .titlePrdDet{
    margin-left: 0;
  }
  .styles_descPrdDet{
    margin-left: 0;
  }
  .buttonContProd{
    margin-left: 1rem;
  }
  
  .headerProdDet{
    grid-area: header;
  }
  .contDetailB{
    grid-area: prod;
    margin: 0 0 0 5rem;
    justify-self: center;
    max-width: 40rem;
  }
  .contDetailF{
    grid-area: pri;
    align-self: center;
    max-width: 70%;
    justify-self: center;
  }
  .productDetailCont{   
    display: grid;
     grid-template-areas:
                          "header  header"
                          ". ."
                          "prod  pri";
   
  }
  /*page about*/
  .contAboutPro{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .anecAbout{
   width: 70%;
  }
  .fotoAboutCont{
   width: 30%;
  }
  .fotoAbout{
   width: 78%;
 }
 .treeIcon{
   display: inline;
   width: 10%;
 } 
 .anecAbout{
   margin: 5rem 0 0 0;
 }
 .textAbout{
   font-size: 2.2rem;
 }
 .phraseAbout{
   font-size: 3.2rem;
 }
 .nameText{
   font-size: 3rem;
 }
 .liAbout li a{
   font-size: 1.8rem;
 }
 .aboutDown{
   margin-top: 7rem;
 }
 .textQuestion{
   font-size: 4rem;
   padding: 2rem;
 }
 .ulTextQuestion{
   margin-top:5rem;
 }
 .nieveIcon{
   width: 30%;
 }
 .titleAbout{
   font-size:6rem;
 }
 .finalMessCont{
  justify-content: space-evenly;
 }
 /*page not found*/
 .notFoundImg{
  width: 37%;
}
.notFoundCont{
  flex-direction: row;
}
}
.contWelcome figure{
  max-width: 25%;
}


@media screen and (min-width: 1024px) {
   .productsContCard{
    width: 30rem;    
  }
  .cardTemplateCont{
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fondoMain{
    max-height:100vh;
  }
  .fondoMain{
    width: 100%;
  }
  .landingText{
    font-size: 4rem;
  }
  .productTitlCont{
   }
   .buttonContProd{
     justify-content: center;
   }
   .landingTextIni{  
    font-size: 6rem;
    line-height: 6rem;
    margin: 0 0 1rem 0;
  }  
   .auctionButton{
     max-width: 60%;
     margin-top:3rem;
   }   
   .pagoImg{
     max-width: 50%;
   }
   
}